{% extends 'Template_Back/base.html.twig' %}

{% block title %}Categories d'equipement{% endblock %}

{% block content %}
    <h1>Créer une Categories d'equipement</h1>

    {{ include('categoriesequipement/_form.html.twig') }}

    <a href="{{ path('app_categoriesequipement_index') }}">Retourner à la liste</a>
{% endblock %}
