{% extends "Template_Back/base.html.twig" %}

  {% block content %}

    <div class="pagetitle">
      <h1>Accueil</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <style> .dashboard .info-card {padding-bottom: 0px;} </style>

            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <img src="https://media.discordapp.net/attachments/757562420326563890/1082843572530851870/ACTIVER_WINDOWS.jpg?width=840&height=472" style="width: 100%; height: auto; max-height: 182px;">
              </div>
            </div><!-- End Sales Card -->

            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <img src="https://media.discordapp.net/attachments/757562420326563890/1082843097844686888/Desktop_Screenshot_2021.03.05_-_16.26.54.46.png?width=840&height=472" style="width: 100%; height: auto; max-height: 182px;">
              </div>
            </div><!-- End Sales Card -->

            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <img src="https://media.discordapp.net/attachments/757562420326563890/1082842752175308890/retmb1prics81.jpg?width=473&height=471" style="width: 100%; height: auto; max-height: 182px;">
              </div>
            </div><!-- End Sales Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Accueil</h5>

                  <!-- Line Chart -->
                  <div id="reportsChart">
                    Voici, l'accueil. Mettez-vous à l'aise.
                  </div>

                </div>

              </div>
            </div><!-- End Reports -->

      <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <!-- Line Chart -->
                  <div id="reportsChart">
                    <img src="https://i.imgflip.com/18ps27.jpg" style="width: 100%; height: auto;">
                  </div>

                </div>

              </div>
            </div><!-- End Reports -->
            
          </div>
        </div><!-- End Left side columns -->



        <!-- Right side columns -->
        <div class="col-lg-4" style="align-items: stretch;display: flex;">

          <!-- Recent Activity -->
          <div class="card" style="width: 100%; height: 100%;">

            <div class="card-body">
              <h5 class="card-title">Historique</h5>

              <div class="activity">
              {% for h in historique %}
                <div class="activity-item d-flex">
                  <div class="activite-label">{{ h.date|date('d:M:Y') }}</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    {{ h.description }}
                  </div>
                </div><!-- End activity item-->

              {% endfor %}
              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>

{% endblock %}