{% extends 'base.html.twig' %}

{% block title %}Edit Categoriesvehicules{% endblock %}

{% block body %}
<center>
<h1 style="color:#336699; font-family: Arial, sans-serif; ;">Modifier  une vehicule</h1>
 </center>
<main id="main" class="main">
    <table class="table">
        <tr>
            <center>
<h1 style="color:#336699; font-family: Arial, sans-serif; ;">Modifier type de vehicule</h1>
 </center
            </td>
        </tr>
        <tr>
            <td>
              <h1>Edit Categoriesvehicules</h1>

    {{ include('categoriesvehicules/_form.html.twig', {'button_label': 'Update'}) }}

      

     
    </div>
            </td>
        </tr>
        
        
    </table>
</main>
 

   
{% endblock %}
