{% extends 'base.html.twig' %}


{% block body %}
<main id="main" class="main">
<center>
<br><br>
 <h1 style="color:#336699; font-family: Arial, sans-serif; ;">AJOUTER UN MEDICAMENT</h1>
 </center>
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;margin-top: -50px;"> 
    
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 250px; ">
      {{ include('stockc/_form.html.twig') }}
   
</main>
{% endblock %}


