{% extends 'Template_Back/base.html.twig' %}


{% block content %}


<h1 style="color:#336699; font-family: Arial, sans-serif; ;">Ajouter un medicament</h1>

                {{ include('stockc/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}



