{% extends 'Template_Back/base.html.twig' %}


{% block content %}

<center>
<h1 style="color:#336699; font-family: Arial, sans-serif; ;">Ajouter  une vehicule</h1>
 </center>
<main id="main" class="main">
    <table class="table">
        <tr>
            <center>
<h1 style="color:#336699; font-family: Arial, sans-serif; ;">Ajouter une vehicule</h1>
 </center
            </td>
        </tr>
        <tr>
            <td>
                {{ include('vehicules/_form.html.twig', {'button_label': 'Update'}) }}
            </td>
        </tr>
        
        
    </table>
</main>

{% endblock %}