<form method="post" action="{{ path('back_rendezvous_delete', {'id': r.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer Rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r.id) }}">
    <button class="btn">Supprimer</button>
</form>
