{% extends "Template_Back/base.html.twig" %}

{% block title %} Rendez-vous - Modifier {% endblock %}

{% block content %}
    <h1>Modifier un Rendez-vous</h1>

    {{ include('rendezvous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_rendezvous_index') }}">Retourner à la liste</a>

{% endblock %}
