<form method="post" action="{{ path('app_plannification_delete', {'id': plannification.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette plannification ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plannification.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
