<form method="post" action="{{ path('back_rendezvous_type_delete', {'id': rendezvous_type.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce Type de rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rendezvous_type.id) }}">
    <button class="btn">Supprimer</button>
</form>
