{% extends "Template_Back/base.html.twig" %}

{% block content %}

    <h1>Create new RendezvousType</h1>

    {{ include('rendezvous/back/type/_form.html.twig') }}

    <a href="{{ path('back_rendezvous_type_index') }}">back to list</a>
    
{% endblock %}
