<form method="post" action="{{ path('back_historique_delete', {'id': historique.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historique.id) }}">
    <button class="btn">Supprimer</button>
</form>
