{% extends 'Template_Back/base.html.twig' %}

{% block title %}Salle - Statistique{% endblock %}

{% block content %}

    <h1 class="text-center">Salles - Statistique</h1>

    <!--  Statistiques -->
    {% set nbSalleSoin = 0 %}
    {% set nbSalleOperation = 0 %}

    {% for salle in salles %}

        {% if salle.typesa == 'soin' %}
            {% set nbSalleSoin = nbSalleSoin + 1 %}
        {% elseif salle.typesa == 'operation' %}
            {% set nbSalleOperation = nbSalleOperation + 1 %}
        {% endif %}
    {% endfor %}

    <h1>Salle Par Type (%)</h1>
    <div class="card">
        <div class="card-body">

            <!-- Pie Chart -->
            <div id="pieChart"></div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#pieChart"), {
                        series: [
                            {{ nbSalleSoin }},
                            {{ nbSalleOperation }}
                        ],
                        chart: {
                            height: 350,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: ['Soin', 'Operation']
                    }).render();
                });
            </script>
            <!-- End Pie Chart -->
        </div>
    </div>
{% endblock %}
