<DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        </head>
        <body>¨
        <div class="col-lg-6">
               
            <div class="col-lg-6">
               <div class="title-box  text-left">
                  <h1> Bienvenue dans HealthLine </h1>
                  <h2 class="title">Inscription</h2>
                  <h3> demande {{user.email}}  </h3>
               </div>
               </div>
               </div>
       





<p>Email : {{user.email}}</p>


<h2 class="title">Inscription Acceptée</h2>





        </body>

        </html>