{% extends "Template_Front/base.html.twig" %}

  {% block title %} About {% endblock %}

  {% block content %}
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{asset('Template_Front/images/about-img.jpg')}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                A <span>Propos</span>
              </h2>
            </div>
            <p>
              Une clinique qui s'adapte aux temps modernes.
            </p>
            <a href="{{path('front_contact')}}">
              Nous contacter
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}